.tabela-moda-th {
    background-color: #BB86FC;
    color: white;
    
}

.tabela-moda-td {
    background-color: #424250;
    color: white;
}

.tabela-casa-th {
    background-color: #00c4b4;
    color: white;
}

.tabela-casa-td {
    background-color: #424250;
    color: white;
}